<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msstrack">

    <application
        android:label="StockTrack"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher_round">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|locale|layoutDirection|fontScale|uiMode"
            android:exported="true"> 
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    <meta-data
        android:name="firebase_auth_google_app_id"
        android:value="1:626816587062:android:928a648043c379d8bdcf97"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
